Source: openmediavault-scripts
Section: net
XB-Plugin-Section: utilities
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper-compat (= 14), dh-sequence-single-binary
Standards-Version: 4.7.2
Homepage: http://omv-extras.org/

Package: openmediavault-scripts
Architecture: all
Depends: openmediavault (>= 8),
         openmediavault-sharerootfs,
         pylint,
         shellcheck,
         ${misc:Depends}
Description: OpenMediaVault scripts plugin
 lightweight plugin to maintain and execute shell and python scripts.
